.calc-container {
    width: 410px;
    height: 469px;
    text-align: center;
    margin: auto;
    border: 3px solid #146c72; 
    margin-top: 150px;
}

.key {
    width: 60px;
    height: 70px;
    font-size: 40px;
    background-color: #42b8c1;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin:10px
}

.digits {
    display: flex;
    width: 240px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    border-right: 3px solid #146c72; 
}

.other {
    display: flex;
    width: 160px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
}

.screen {
    height: 47px;
    font-size: 40px;  
    text-align: right;
    padding: 0 20px 20px 20px;
    border-bottom: 3px solid #146c72; 
}